.Countdown {
  display: flex;
}

.Count {
  position: relative;
  width: 10em;
  height: 10em;
  margin: 0 1.5em;
}

.Count-div {
  width: 100%;
  height: 50%;
  border-radius: 1.2em;
  background: hsl(240, 21%, 22%);
}

.Count-div:nth-child(2) {
  background: hsl(236, 21%, 26%);
}

.Count-timer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Count-timer span {
  font-size: 5em;
  mix-blend-mode: color-dodge;
  filter: sepia(50%) brightness(0.9);
  color: hsl(345, 95%, 68%);
}

.Count-name {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5em;
  color: hsl(237, 18%, 59%);
  margin-top: 2.5em;
}

@media screen and (max-width: 375px) {
  .Count {
    width: 2em;
    height: 2em;
    margin: 0 0.4em;
  }

  .Count-timer span {
    font-size: 2.5em;
  }

  .Count-name {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 840px) {
  .Count {
    width: 8em;
    height: 8em;
    margin: 0 0.4em;
  }

  .Count-div {
    border-radius: 0.6em;
  }

  .Count-timer span {
    font-size: 4em;
  }

  .Count-name {
    font-size: 0.6em;
    margin-top: 1.8em;
  }
}

@media screen and (max-width: 560px) {
  .Count {
    width: 7em;
    height: 7em;
    margin: 0 0.4em;
  }

  .Count-timer span {
    font-size: 3em;
  }

  .Count-name {
    font-size: 0.6em;
    margin-top: 1.8em;
  }
}

@media screen and (max-width: 500px) {
  .Count {
    width: 6em;
    height: 6em;
    margin: 0 0.6em;
  }

  .Count-timer span {
    font-size: 3em;
  }

  .Count-name {
    font-size: 0.6em;
    margin-top: 1.8em;
  }
}

@media screen and (max-width: 460px) {
  .Count {
    width: 5.5em;
    height: 5.5em;
    margin: 0 0.6em;
  }

  .Count-timer span {
    font-size: 3em;
  }

  .Count-name {
    font-size: 0.6em;
    margin-top: 1.8em;
  }
}

@media screen and (max-width: 430px) {
  .Count {
    width: 5em;
    height: 5em;
    margin: 0 0.6em;
  }

  .Count-timer span {
    font-size: 3em;
  }

  .Count-name {
    font-size: 0.5em;
    margin-top: 1.8em;
  }
}

@media screen and (max-width: 400px) {
  .Count {
    width: 5em;
    height: 5em;
    margin: 0 0.4em;
  }

  .Count-timer span {
    font-size: 3em;
  }

  .Count-name {
    font-size: 0.5em;
    margin-top: 1.8em;
  }
}
